.wrapper_with_padding
  #doc_show
    %h1.title= @doc.title
    %p= simple_format(@doc.content)

    .buttons
    = link_to "All Files", docs_path, class: "filebutton"
    = link_to "Edit", edit_doc_path(@doc), class: "filebutton"
    = link_to "Delete", doc_path(@doc), method: :delete, data: { confirm: "Are you sure to delete this file?"}, class: "filebutton"
